.why-choose-us {
    margin: 0 !important;

    .swiper {
        position: relative;
        width: 100%;
        height: auto;
        background-color: $background-2;
        padding: 3rem 0 8rem 0;
        overflow: visible;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        @media screen and (max-width: 1320px) {
            padding-bottom: 1rem;
        }

        .content-header {
            margin-bottom: 4rem;

            @media screen and (max-width: 860px) {
                margin-top: 1rem;
                margin-bottom: 2rem;
                padding: 0;
            }
        }

        .swiper-wrapper {
            display: flex;
            align-items: center;
            width: 900px;

            @media screen and (max-width: 1020px) {
                width: 90%;
            }
        }
        
        .swiper-slide {
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: $white;
            padding: 6rem;
            opacity: .30;
            transition: opacity .8s ease-out;
            @include swiper-box-shadow;

            @media screen and (max-width: 1020px) {
                padding: 4rem;
            }

            @media screen and (max-width: 860px) {
                padding: 3rem 2rem;
            }

            
            h3 {
                font-size: 42px;
                font-weight: 500;
                text-transform: capitalize;

                @media screen and (max-width: 860px) {
                    font-size: 36px;
                    margin: 1rem 0;
                }

                @media screen and (max-width: 720px) {
                    font-size: 30px;
                }
            }

            p {
                font-size: 20px;

                @media screen and (max-width: 860px) {
                    font-size: 18px;
                }
            }

            i {
                font-size: 40px;
                color: $secondary;

                @media screen and (max-width: 860px) {
                    font-size: 34px;
                }

                @media screen and (max-width: 720px) {
                    font-size: 30px;
                }
            }
        }
    
        .swiper-slide-visible {
            opacity: 1;
        }

        &--button {
            width: 1190px;
            height: 100px;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
            pointer-events: none;

            @media screen and (max-width: 1320px) {
                width: 150px;
                position: relative;
                margin-top: 5rem;
            }

            @media screen and (max-width: 720px) {
                width: 130px;
            }

            .btn-wrapper {
                width: 100%;
                height: 100%;
                position: relative;
            }

            .swiper-button-next,
            .swiper-button-prev {
                position: absolute;
                width: 55px;
                height: 55px;
                color: transparent;
                border: .14rem solid $secondary;
                border-radius: 50%;
                transition: .3s all ease-in-out;
                pointer-events: visible;

                @media screen and (max-width: 720px) {
                    width: 45px;
                    height: 45px;
                }
        
                i {
                    display: block;
                    font-size: 20px;
                    color: $secondary;
                    position: absolute;
                }   
            }
    
            .swiper-button-next:hover,
            .swiper-button-prev:hover {
                transform: scale(.8);
            }
        }
    }
}