.about {
    position: relative;
    width: 100%;
    background-color: $background-1;

    &-hero {
        position: relative;
        width: 100%;
        height:  calc(100vh - 60px);
        display: flex;
        justify-content: start;
        align-items: center;
        background-color: $gray;
        background-image: url("images/hero/about.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .3;
        }

        &--content {
            position: relative;
            width: 800px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            
            .display-1 {
                color: $white;
                display: block;
            }

            .display-2 {
                display: block;
                color: $white;
                font-size: 30px;
                font-weight: 300;
            }
        }
    }

    &-content {
        position: relative;
        width: 100%;
        padding: 7rem 0;
        
        &--img {
            width: 520px;
            height: 680px;
            background-color: $gray;
            border: 0;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .col-5:first-child {
            margin-left: 0;
        }

        .col-5:last-child {
            margin-right: 0;
            padding-top: 2rem;

            .content-header {
                text-align: start;
            }
        }
    }
    
}

.our-team {
    width: 100%;
    padding: 4rem;
    background-color: $background-1;
    margin: 0 !important;

    .content-info {
        padding: 0 8rem;
        text-align: center;
    }

    &--teams {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;

        .teams-wrapper {
            width: 234px;
            height: 300px;
            padding: .5rem;
            background-color: $background-1;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .teams-img {
                display: block;
                width: 120px;
                height: 120px;
                background-color: $gray;
                border-radius: 50%;
                margin: .5rem;
                overflow: hidden;

                img {
                    opacity: .9;
                }
                
                .team-1 {
                    opacity: 1 !important;
                }
            }


            .teams-name {
                width: 100%;
                height: 50px;
                margin: .8rem;
                font-size: 16px;
                text-transform: uppercase;
                text-align: center;
                display: flex;
                
                justify-content: center;
            }

            .teams-position {
                font-size: 14px;
                opacity: .8;
                letter-spacing: 0;
            }

            .teams-social-media {
                width: 120px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 1rem;
                
                i {
                    font-size: 18px;
                    opacity: .7;
                    cursor: pointer;
                    transition: .3s all ease-in-out;
                }

                i:hover {
                    color: $secondary;
                    opacity: 1;
                }
            }
        }
    }
}

.work-with-us {
    background-color: $background-2;
    padding: 7rem 0;
    margin: 0 !important;

    &--img {
        width: 480px;
        height: 640px;
        background-color: $gray;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--link {
        margin-bottom: 1rem;
    }

    .content-info {
        margin-top: 0;
    }

    .col-5:first-child {
        display: flex;
        justify-content: flex-end;
    }

    .col-5:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}